:root{
  --primary: rgb(154, 152, 152);
  --bgDark: rgb(12, 12, 12);
  --white: white;
  --bgLight: rgb(190, 181, 181);
  }

.flex{
    display: flex;
    }
    .items-centre{
    align-items: center;
    }
    .justify-between{
    justify-content: space-between;
    }
    .justify-center{
    justify-content: center;
    }
    .justify-right{
    justify-content: right;
    }


/***************
* Header
****************/


.App-header{
  background-color: var(--primary);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
  margin: 45px;
  }

nav {
  width: 100%
}

#signaturelogo {
  width: 50%;
}

  
#navLinkContainer {
  justify-content: center;
  width: 50%;
  margin-right: 2rem;
  

}

#navLinkContainer a {
  padding: 30px;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
}

#navLinkContainer a:hover {
  opacity: 0.5;
  transition: 1s;
}



/***************
* About Me
****************/
.testClass {
  margin: 10px 50px 10px 50px;
}

  .container{
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
  }
  .hero{
  padding-top: 2rem;
  padding-bottom: 3rem;
  }
  .hero .left img{
  width: 400px;
  }
  .hero .right {
  color: var(--blue);
  margin-top: -7rem;
  }
  .hero .right h6{
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
  }
  .hero .right h1{
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 2rem;
  }
  .hero .right h1 {
  color: var(--primary);
  }
  .hero .right p{
  line-height: 1.9;
  margin-bottom: 2rem;
  }

.socials a {
  padding: 40px;
}

.socials a:hover {
  opacity: 0.5;
  transition: 1s;
}
  /***************
* Services
****************/



/***************
* Contact
****************/